{% extends 'base.html'%}
{% load static %}
{% block content %}
{% if mvs %}
<div class="content-section" style="padding-top:120px;">
  <div class="title-section">
    <h1>
      Nogizaka Music
    </h1>
    <small>New MVs</small>
  </div>
  <div id="mv-list">
    {% for mv in mvs %}
    <div>
      <a style="display: -webkit-flex; padding-top: 0px;" href="{% url 'view_page' name_in_code=mv.name_in_code %}">
        <img src="{{ cloudinary_img_url }}/{{ mv.name_in_code|add:'.jpg' }}" alt="" />
      </a>
      <a href="{% url 'view_page' name_in_code=mv.name_in_code %}">{{ mv.title }}</a>
      <small>{{ mv.performer_name }}</small>

      <p>{{ mv.view_count }} views</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

<div class="section-divider"></div>

{% if shows %}
<div class="content-section" style="padding-top: 15px;">
  <div class="title-section">
    <h1>
      Nogizaka Variety Shows
    </h1>
    <small>Recommended Shows</small>
  </div>
  <div id="show-list">
    {% for show in shows %}
    <div>
      <a style="display: -webkit-flex; padding-top: 0px;" href="#">
        <img src="{{ cloudinary_img_url }}/{{ show.name_in_code|add:'.jpg' }}" alt="" />
      </a>
      <a href="#">{{ show.title }}</a>
      <small>{{ show.small_info }}</small>

      <p>{{ show.showepisode_set.all.count }} Episode(s)</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
<script src="{% static 'js/app.js' %}"></script>
{% endblock %}