{% extends 'base.html'%}
{% block content %}
{% if mvs %}
<div class="content-section" style="padding-top:120px;">
  <div class="title-section">
    <h1>
      Nogizaka Music
    </h1>
    <small>Top MVs</small>
  </div>
  <!--div id="mv-list"-->
  <div id="mv-list">
    {% for mv in mvs %}
    <div>
      <a style="display: -webkit-flex; padding-top: 0px;" href="#">
        <img src="{{ cloudinary_img_url }}/{{ mv.name_in_code|add:'.jpg' }}" alt="" />
      </a>
      <a href="#">{{ mv.title }}</a>
      <small>{{ mv.performer_name }}</small>

      <p>{{ mv.view_count }} views</p>
    </div>
    {% endfor %}

    <!--div>
      <a style="display: -webkit-flex; padding-top: 0px;" href="view.html">
        <img
          src="https://res.cloudinary.com/dr031frrx/image/upload/v1555853606/nogistream/kokuhaku_no_junban.jpg"
          alt=""
        />
      </a>
      <a href="#">Kokuhaku no Junban</a>
      <small>Joshikou Quartet</small>

      <p>1,023,203 views</p>
    </div>
    <div>
      <a style="display: -webkit-flex; padding-top: 0px;" href="view.html">
        <img
          src="https://res.cloudinary.com/dr031frrx/image/upload/v1555853606/nogistream/sora_tobira.jpg"
          alt=""
        />
      </a>
      <a href="#">Sora Tobira</a>
      <small>Selected Members</small>

      <p>723,203 views</p>
    </div>
    <div>
      <a
        style="display: -webkit-flex; padding-top: 0px;"
        href="{% url 'sample_viewpage' %}"
      >
        <img
          src="https://res.cloudinary.com/dr031frrx/image/upload/v1555853606/nogistream/sankaku_no_akiichi.jpg"
          alt=""
        />
      </a>
      <a href="{% url 'sample_viewpage' %}">Sankaku no Akiichi</a>
      <small>Unders</small>

      <p>9,723,203 views</p>
    </div>
    <div>
      <a style="display: -webkit-flex; padding-top: 0px;" href="view.html">
        <img
          src="https://res.cloudinary.com/dr031frrx/image/upload/v1555853606/nogistream/kaerimichi_wa_toomawari_shitaku_naru.jpg"
          alt=""
        />
      </a>
      <a href="#">Kaerimichi wa Toomawari Shitaku Naru</a>
      <small>Senbatsu</small>

      <p>11,723,203 views</p>
    </div>
    <div>
      <a style="display: -webkit-flex; padding-top: 0px;" href="view.html">
        <img
          src="https://res.cloudinary.com/dr031frrx/image/upload/v1555853606/nogistream/against.jpg"
          alt=""
        />
      </a>
      <a href="#">Against</a>
      <small>1st Gen</small>

      <p>3,783,103 views</p>
    </div>

  </div>
</div>
{% endif %}

<div class="section-divider"></div>

<div class="content-section" style="padding-top: 15px;">
  <div class="title-section">
    <h1>
      Nogizaka Variety Shows
    </h1>
    <small>Recommended Shows</small>
  </div>
  <div id="show-list">
    <div>
      <a style="display: -webkit-flex; padding-top: 0px;" href="#">
        <img
          src="https://res.cloudinary.com/dr031frrx/image/upload/v1568734174/nogistream/nogichuu.jpg"
          alt=""
        />
      </a>
      <a href="#">乃木坂工事中</a>
      <small>Every Sunday 12:00 MN JST</small>

      <p>298 Episodes (ongoing)</p>
    </div>
    <div>
      <a style="display: -webkit-flex; padding-top: 0px;" href="#">
        <img
          src="https://res.cloudinary.com/dr031frrx/image/upload/v1568734725/nogistream/gakutabi.jpg"
          alt=""
        />
      </a>
      <a href="#">乃木坂46のがくたび！</a>
      <small>Inconsistent Schedule</small>

      <p>10 Episodes (ongoing)</p>
    </div>
    <div>
      <a style="display: -webkit-flex; padding-top: 0px;" href="#">
        <img
          src="https://res.cloudinary.com/dr031frrx/image/upload/v1568735587/nogistream/nogieigo.jpg"
          alt=""
        />
      </a>
      <a href="#">乃木坂46えいご</a>
      <small>Inconsistent Schedule</small>

      <p>39 Episodes (ongoing)</p>
    </div>
    <div>
      <img
        src="https://res.cloudinary.com/dr031frrx/image/upload/v1568735587/nogistream/nogieigo.jpg"
        alt=""
      />
      <a href="#">乃木坂46えいご</a>
      <small>Inconsistent Schedule</small>

      <p>39 Episodes (ongoing)</p>
    </div-->
  </div>
</div>
<script src="{% static 'js/app.js' %}"></script>
{% endblock %}