{% extends 'base.html'%}
{% load static %}
{% block content %}
{% if mvs %}
<div class="content-section" style="padding-top:120px;">
  <div class="title-section">
    <h1>
      Nogizaka Music
    </h1>
    <small>All MVs</small>
  </div>
  <!--div id="mv-list"-->
  <div id="mv-list">
    {% for mv in mvs %}
    <div>
      <a style="display: -webkit-flex; padding-top: 0px;" href="{% url 'view_page' name_in_code=mv.name_in_code %}">
        <img src="{{ cloudinary_img_url }}/{{ mv.name_in_code|add:'.jpg' }}" alt="" />
      </a>
      <a href="{% url 'view_page' name_in_code=mv.name_in_code %}">{{ mv.title }}</a>
      <small>{{ mv.performer_name }}</small>

      <p>{{ mv.view_count }} views</p>
    </div>
    {% endfor %}
    <div>
      <a style="display: -webkit-flex; padding-top: 0px;" href="view.html">
        <img
          src="https://res.cloudinary.com/dr031frrx/image/upload/v1555853606/nogistream/kaerimichi_wa_toomawari_shitaku_naru.jpg"
          alt="" />
      </a>
      <a href="#">Kaerimichi wa Toomawari Shitaku Naru</a>
      <small>Senbatsu</small>

      <p>11,723,203 views</p>
    </div>
    <div>
      <a style="display: -webkit-flex; padding-top: 0px;" href="view.html">
        <img src="https://res.cloudinary.com/dr031frrx/image/upload/v1555853606/nogistream/against.jpg" alt="" />
      </a>
      <a href="#">Against</a>
      <small>1st Gen</small>

      <p>3,783,103 views</p>
    </div>
    <div>
      <a style="display: -webkit-flex; padding-top: 0px;" href="view.html">
        <img
          src="https://res.cloudinary.com/dr031frrx/image/upload/v1555853606/nogistream/kaerimichi_wa_toomawari_shitaku_naru.jpg"
          alt="" />
      </a>
      <a href="#">Kaerimichi wa Toomawari Shitaku Naru</a>
      <small>Senbatsu</small>

      <p>11,723,203 views</p>
    </div>
    <div>
      <a style="display: -webkit-flex; padding-top: 0px;" href="view.html">
        <img src="https://res.cloudinary.com/dr031frrx/image/upload/v1555853606/nogistream/against.jpg" alt="" />
      </a>
      <a href="#">Against</a>
      <small>1st Gen</small>

      <p>3,783,103 views</p>
    </div>
  </div>
</div>
{% endif %}
<script src="{% static 'js/app.js' %}"></script>
<script>
  $(window).scroll(function () {
    if ($(window).scrollTop() + $(window).height() == $(document).height()) {
      $.ajax({
        url: '{% url 'music_list_lazy' %}',
        type: 'get',
        success: function (data) {
          $("#mv-list").append(data);
        },
        failure: function (data) {
          console.log('got an error: forum_updates');
        }
      });
    }
  });
</script>
{% endblock %}