{% extends 'base.html'%}
{% load static %}
{% block content %}
<div id="content" class="content-section" style="padding-top:120px;">
  <div class="title-section">
    <h1>
      Nogizaka Shows
    </h1>
    <small>All Shows</small>
  </div>
  <div id="show-list">
    {% for show in shows %}
    <div>
      <a style="display: -webkit-flex; padding-top: 0px;"
        href="{% url 'show_info_page' name_in_code=show.name_in_code %}">
        <img src="{{ cloudinary_img_url }}/{{ show.name_in_code|add:'.jpg' }}" alt="" />
      </a>
      <a href="{% url 'show_info_page' name_in_code=show.name_in_code %}">{{ show.title }}</a>
      <small>{{ show.small_info }}</small>

      <p>{{ show.episodes.all.count }} Episode(s)</p>
    </div>
    {% endfor %}
  </div>
</div>
<script src="{% static 'js/app.js' %}"></script>
{% endblock %}