{% extends 'base.html'%} {% load static %} {% block content %}
<div id="view-content-section" style="padding-top: 120px;">
  <div id="view-wrapper">
    <div id="view-section">
      <div class="title-section">
        <h1>
          {{ video.title }}
        </h1>
        <small>{{ video.performer_name }}</small>
      </div>
      <div class="stats">
        <p>{{ video.view_count }} views <bold>|</bold> Published on {{ video.published_date }}</p>
      </div>
      <div id="video-section">
        {{ video.embed_link | safe }}
      </div>
      <div id="description-parent">
        <div id="description">
          <h3>Description</h3>
          <p>{{ video.description|linebreaksbr }}</p>
        </div>
        <button style="margin: 5px auto 0 auto;" id="see-more-btn">
          See more
        </button>
      </div>
    </div>

    <div id="experiment">
      <div class="title-section">
        <h3>Other Videos</h3>
      </div>
      <ul>
        {% if other_videos %}
        {% for other_video in other_videos %}
        <li>
          <a style="display: -webkit-flex; padding-top: 0px;"
            href="{% url 'view_page' name_in_code=other_video.name_in_code %}">
            <img src="{{ cloudinary_img_url }}/{{ other_video.name_in_code|add:'.jpg' }}" alt="" />
          </a>
          <div>
            <a href="{% url 'view_page' name_in_code=other_video.name_in_code %}">{{ other_video.title }}</a>
            <small>{{ other_video.performer_name }}</small>

            <p>{{ other_video.view_count }} views</p>
          </div>
        </li>
        {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div>
</div>
<script src="{% static 'js/view.js' %}"></script>
{% endblock %}